<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.futurehouse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:noHistory="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fragment.ProjectFragment"></activity>
        <activity android:name=".Login.SignUpPhoto" />
        <activity android:name=".ApplyProject.AllPage" />
        <activity android:name=".ApplyProject.UIUX.UX" />
        <activity android:name=".ApplyProject.UIUX.UI" />
        <activity android:name=".MyProject.MyProjectProfile" />
        <activity android:name=".CreateProject.CreateProjectReview" />
        <activity android:name=".ApplyProject.JobDescriptionPage" />
        <activity android:name=".MyProject.MyProjectCreatedRequirement" />
        <activity android:name=".MyProject.MyProjectCreatedSelect" />
        <activity android:name=".Login.SignIn" />
        <activity android:name=".Login.SignUp" />
        <activity android:name=".Profile.EditProfile" />
        <activity android:name=".Profile.EditProfilePassword" />
        <activity android:name=".ApplyProject.JobAppliedPage" />
        <activity android:name=".CreateProject.CreateProject" />
        <activity android:name=".ApplyProject.WebDeveloper.WebBack" />
        <activity android:name=".ApplyProject.WebDeveloper.WebFront" />
        <activity android:name=".Fragment.Navbar" />
        <activity android:name=".CreateProject.PostSuccess" />
        <activity android:name=".Login.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>